<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Post Home</title>
    <!--    <link rel="stylesheet" th:href="@{/styles.css}"/>-->
    <th:block th:replace="fragments/navbar :: main-navbar"/>
    <th:block th:replace="fragments/header :: main-header"/>

</head>
<body>

<div class="container mw-75">
    <h1>Display Post:</h1>
    <div class="card">
<!--        Go back to current ad-->
        <a th:href="@{'/posts/' + ${id}}"  class="btn btn-primary">&#8592; Go Back</a>
        <h1>Edit Post:</h1>
        <form th:action="@{'/posts/edit/'+ ${id}}"  method="post">
<!--            // POST ID-->
            <input type="hidden" name="id" th:value="${id}" >
<!--            // POST TITLE-->
            <label for="title">Edit Title:</label>
            <input type="text" name="newTitle" id="title" th:value="${title}" class="form-control">
<!--            // POST TAGS-->
<!--            <div class="form-check form-check-inline">-->
<!--                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" th:value="${post.tags.get(0)}">-->
<!--                <label class="form-check-label" for="inlineCheckbox1">Silly</label>-->
<!--            </div>-->
<!--            <div class="form-check form-check-inline">-->
<!--                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" th:value="${post.tags.get(1)}">-->
<!--                <label class="form-check-label" for="inlineCheckbox2">Funny</label>-->
<!--            </div>-->
<!--            <div class="form-check form-check-inline">-->
<!--                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" th:value="${post.tags.get(2)}">-->
<!--                <label class="form-check-label" for="inlineCheckbox3">Humor</label>-->
<!--            </div>-->
<!--            <div class="form-check form-check-inline">-->
<!--                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="tagCrazy" th:value="${post.tags.get(3)}">-->
<!--                <label class="form-check-label" for="inlineCheckbox4">Crazy</label>-->
<!--            </div>-->
<!--            // POST BODY-->
            <label for="body">Edit Body:</label>
            <textarea rows="6" name="newBody" id="body" class="form-control" th:inline="text"> [[${body}]]  </textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>



<!--        <div th:if="${look}" class="card" th:text="${look}"></div>-->

    </div>
</div>

<!--Example footer code-->
<th:block th:replace="fragments/footer :: main-footer"/>
</body>
</html>