<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Post Home</title>
    <!--    <link rel="stylesheet" th:href="@{/styles.css}"/>-->
    <th:block th:replace="fragments/navbar :: main-navbar"/>
    <th:block th:replace="fragments/header :: main-header"/>

</head>
<body>

<div class="container mw-75">
    <h1>All Posts:</h1>

    <div th:each="post : ${posts}" class="card allPostCard">
        <h3 th:text="${post.title}"/>
        <p th:text="${post.body}"/>
        <h3 th:text="${post.user.email}"></h3>
        <!--        <form action="/posts/delete" method="post">-->
        <!--            <input type="hidden" name="id" th:value="${post.id}">-->
        <!--            <button class="btn btn-primary" type="submit" th:value="${post.id}">DELETE POST</button>-->
        <!--        </form>-->
        <input type="hidden" name="id" value="${post.id}">
        <a th:href="@{'/posts/' + ${post.id}}" class="btn btn-primary viewPostBtn">View Post</a>

    </div>
</div>



<!--Example footer code-->
<!--<th:block th:replace="fragments/footer :: main-footer"/>-->
</body>
</html>